footer#footer
  #social-icons
    ul
      li
        a(href="https://www.instagram.com/backroom.io/?hl=en")
          img(src="/svg/instagram2.svg" alt="")
      li
        a(href="#")
          img(src="/svg/github2.svg")
      li
        a(href="#")
          img(src="/svg/slack.svg")
      li
        a(href="#")
          img(src="/svg/facebook.svg")
      li
        a(href="#")  
          img(src="/svg/twitter.svg")
