/*Fonts*/

/*Import google font first, I don't know why it only works this way*/

@google-font Lato 400

@font-face
  font-family: 'Galano Grotesque med'
  font-path: '/fonts/GalanoGrotesque-Medium-webfont'
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Galano Grotesque reg'
  font-path: '/fonts/GalanoGrotesque-Regular-webfont'
  font-weight: normal
  font-style: normal
