#footer
  width: 80%
  margin: auto
  border-top: 1px solid black
  & #social-icons
    & ul
      display: flex
    & a
      display: flex
      padding: 1em
      &:hover
        background-color: lime
        transition: background-color .7s
    & img
      height: 2em
