/*CSS Reset*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure
  margin: 0
  padding: 0


/*Box Sizing*/
*, *:before, *:after
  box-sizing: border-box


body
  padding: 50px
  font: normal 100%/150% "Lato", sans-serif

h1, h2, h3
  font-family: "Galano Grotesque medium"
