/*Header/Nav Styling*/

/*Flex Containers*/

#header,
ul,
nav
  display: flex

#logo,
nav
  flex: 1
  padding:

#header
  margin-top: 1em

#logo
  margin-left: 1.5em

ul
  justify-content: space-around
  flex: 1
  align-items: center
  font-size: 1.5em

/*Logo Styles*/

rect,
line
  fill: transparent
  stroke-width: 5
  stroke: black
