/*#index*/
#index
#bg-img-wrapper
  height: 100vh
  background: url(/img/hero.jpg) no-repeat center center
  background-size: cover
  color: white
  & .flex-wrap
    display: flex
    height: 100vh
    & .hero
      max-width: 44em
      margin: auto
      text-align: center
